// header
.page__header
	header.main-header
		.main-header__top
			.container
				ul.social
					li: a(href="#").fa 
					li: a(href="#").fa 
					li: a(href="#").fa 
		.main-header__body
			.container
				.centered
					a(href="").account Личный кабинет
					.main-header__logo
						a(href="/"): img(src="img/logo.png", alt="Убойный ЗОЖ", title="Убойный ЗОЖ")
					p.slogan: span Наприсeдай на миллион!
					p.last
						span Старт
						span 15 марта
			.page__enter
				.container
					.centered
						a(href="#").btn.btn--dblbd Принять участие
// header end